@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to City Book Library</h3>
    <p>Register <a href="@Url.Action("Register", "Home")">here</a>, or Login <a href="@Url.Action("Login", "Home")">here</a> to borrow a book</p>
</div>
